<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Charting" version="0.91.1" targetFramework="net461" />
  <package id="FSharp.Core" version="4.2.3" targetFramework="net461" />
  <package id="FSharp.Data" version="2.4.3" targetFramework="net461" />
  <package id="FSharp.Data.TypeProviders" version="5.0.0.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>